html {
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #034e65;
    color: white;
    font-size: 4rem;
}

#header {
    padding: 4rem 0 4rem 0;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 6rem;
    color: #b8860b;
}

#status-indicator {
    padding: 0 0 4rem 0;
}

#board {
    width: 25%;
    aspect-ratio: 1/1;
    background: white;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1rem;
}

#grid-square {
    background: #034e65;
    border: 0;
    font-size: 10rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#restart-button {
    background: transparent;
    color: white;
    font-family: inherit;
    font-size: inherit;
    margin: 4rem 0 4rem 0;
    border: 0.3rem solid white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
    padding: 1rem;
    border-radius: 1rem;
}

#restart-button:active {
    background: #023342;
}

button:hover:enabled {
    cursor: pointer;
}

#create-players-overlay {
    position: fixed;
    display: flex; /* display: none makes overlay disappear */
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;
}

#create-players-overlay #form {
    width: 40%;
    height: 45%;
    background: white;
    border-radius: 1rem;
    font-size: 2rem;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

#create-players-overlay #form #title {
    font-size: 4rem;
}

#inputs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#label-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#player-1-input, #player-2-input {
    padding: 0;
    width: 77%;
}

#create-players-overlay #title {
    color: #034e65;
}

#create-players-overlay #form label {
    color: #034e65;
}

#player-1-icon {
    color: #90EE90;
    font-size: 8rem;
}

#player-2-icon {
    color: red;
    font-size: 8rem;
}

#create-players-overlay #form input[type="text"] {
    font-family: inherit;
    font-size: inherit;
    border: none;
    text-align: center;
}

#start-game-button {
    width: 20%;
    height: 15%;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
    color: #034e65;
    background: white;
    border: 0.3rem solid #034e65;
    border-radius: 0.75rem;
}

#footer {
    width: 100%;
    text-align: center;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 4rem;
}

#footer-contents {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#footer a[target="_blank"] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

/* GitHub footer icon styling */
.fa-github {
    color: white;
    font-size: 2.6rem;
    transition: transform 0.3s ease-in-out;
}
  
/* GitHub footer icon animation on hover */
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}